:root {
  --color-dark-blue: #033540;
  --color-blue: #015366;
  --color-bluish-gray: #63898C;
  --color-shade-of-the-sea: #A7D1D2;
  --color-light-blue: #E0F4F5;
  --color-shadow: #63898C33;

  --font-size-title: 22px;
  --font-size-paragraph: 20px;
  --font-size-display: var(--gap-size-m);

  --font-weight-title: 700;
  --font-weight-paragraph: 400;

  --font-family-default: "Open Sans", serif;

  --transition-duration-min: 0.2s;
  --transition-duration-max: 0.3s;

  --gap-size-default: 35px;
  --gap-size-m: 30px;
  --gap-size-s: 25px;
  --gap-size-xs: 20px;
  --gap-size-xxs: 15px;
  --gap-size-xxxs: 10px;

  --content-size: 500px;
  --display-size: 100px;
  --keyboard-size: 400px;
  --header-size: 80px;
  --button-keyboard-calc-size: 60px;
  --button-size-xl: 450px;
  --button-size-m: 210px;
  --button-height-size-m: 50px;

  --border-radius-size-m: 10px;
}

.button:hover {
  background: var(--color-shade-of-the-sea);
  transition: all var(--transition-duration-min) ease;
}

.button:active {
  box-shadow: 4px 4px 12px 5px var(--color-shadow);
  transition: ease all var(--transition-duration-min) ;
  background: var(--color-bluish-gray);
}

.container {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.app {
  margin-top: var(--gap-size-m);
  border: 2px solid var(--color-dark-blue);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-size);
  background-color: var(--color-dark-blue);
  border-bottom: none;
  position: relative;
}

.header__title {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
  margin-left: var(--gap-size-default);
  color: var(--color-light-blue);
}

.menu__list {
  display: flex;
  margin-right: var(--gap-size-default);
}

.menu__list-item-link {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-paragraph);
  margin-left: var(--gap-size-default);
  color: var(--color-light-blue);
  position: relative;
}

.menu__list-item-link--active::after {
 position: absolute;
 content: "";
 height: 1px;
 width: 97%;
 border-radius: var(--border-radius-size-m);
 bottom: 0px;
 left: 50%;
 transform: translateX(-50%);
 background: var(--color-shade-of-the-sea);
}

.content {
  display: flex;
  justify-content: center;
  border-top: none;
  height: var(--content-size);
}

.calculator {
  width: 75%;
}

.calculator__display {
  height: var(--display-size);
  position: relative;
}

.calculator__display::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 97%;
  border-radius: var(--border-radius-size-m);
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-shade-of-the-sea);
}

.calculator__display-text {
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  margin: 0 var(--gap-size-m) 0 var(--gap-size-m);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-display);
  padding-top: var(--gap-size-m);
  padding-bottom: var(--gap-size-m);
}

.calculator__keyboard {
  height: var(--keyboard-size);
  display: grid;
}

.calculator__keyboard-button {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: var(--gap-size-xxs);
  
}

.calculator__keyboard-btn {
  margin-left: var(--gap-size-m);
  width: var(--button-keyboard-calc-size);
  height: var(--button-keyboard-calc-size);
  border-radius: var(--border-radius-size-m);
  border: 1px solid var(--color-shade-of-the-sea);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-title);
  background: var(--color-light-blue);
  transition: all var(--transition-duration-max) ease;
}

.history {
  width: 25%;
  position: relative;
}

.history::after {
  position: absolute;
  content: "";
  display: block;
  height: 97%;
  width: 1px;
  border-radius: var(--border-radius-size-m);
  top: 50%;
  background: var(--color-shade-of-the-sea);
  transform: translateY(-50%);
}

.history__title {
  height: 5%;
  text-align: center;
  padding-top: var(--gap-size-xxxs);
  padding-bottom: var(--gap-size-m);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-title);
  position: relative;
}

.history__title::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 90%;
  border-radius: var(--border-radius-size-m);
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-shade-of-the-sea);
}

.history__list {
  overflow-y: scroll;
  height: calc(95% - var(--gap-size-default));
  margin-top: var(--gap-size-xs);
  margin-left: var(--gap-size-s);
  scrollbar-color: var(--color-blue) white;
  scrollbar-width: thin;
}

.history__list-item {
  list-style-type: none;
  margin-bottom: var(--gap-size-xxxs);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-paragraph);
}

.settings__list-item {
 margin-top: var(--gap-size-m);
}

.settings__reset-btn {
  margin-left: var(--gap-size-m);
  width: var(--button-size-xl);
  height: var(--button-height-size-m);
  border-radius: var(--border-radius-size-m);
  border: 1px solid var(--color-shade-of-the-sea);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-paragraph);
  background: var(--color-light-blue);
  transition: all var(--transition-duration-max) ease;
}

.settings__change-theme-btn {
  margin-left: var(--gap-size-m);
  width: var(--button-size-m);
  height: var(--button-height-size-m);
  border-radius: var(--border-radius-size-m);
  border: 1px solid var(--color-shade-of-the-sea);
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-paragraph);
  font-size: var(--font-size-paragraph);
  background: var(--color-light-blue);
  transition: all var(--transition-duration-min) ease;
}

.settings__change-theme-btn--active {
  font-weight: var(--font-weight-title);
  border: 2px solid;
  pointer-events: none;
  background-color: var(--color-shade-of-the-sea);
}


